<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
	 <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
	 <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/chat.css" type="text/css"/>
<script src="/webjars/jquery/jquery.min.js"></script>
 <script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script type="text/javascript" src="js/chat.js"></script>

</head>
<body >
<div th:if="${chat} != null">
<script th:inline="javascript">
	var chatId= /*[[${chat.chatId}]]*/ 'chatId';
	var userId = /*[[${session.user.id}]]*/ 'userId';
	connect(userId, chatId);
</script>
</div>
 	
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" layout:fragement="content">
      <a class="navbar-brand" th:href="@{/profile(id=${session.user.id})}" th:text="${session.user.username}"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/chat">Home</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="/search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>
</nav>
	
<div class="sidenav">
  <button class="dropdown-btn">Private Chats
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
  	<th:block th:each="privateChat: ${privateChatsNames}">
  		<a th:href="@{/chat(id=${privateChat.value})}" th:text="${privateChat.key}"></a>
  	</th:block>
  </div>
   <button class="dropdown-btn">Group Chats 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
	  <!-- Trigger the modal with a button -->
	  <button type="button" class="btn btn-info btn--sm" data-toggle="modal" data-target="#myModal">New Group</button>
  	<th:block th:each="groupChat: ${groupChats}">
  		<a th:href="@{/chat(id=${groupChat.chatId})}" th:text="${groupChat.name}"></a>
  	</th:block>
  </div>
</div>

<!-- Modal -->
 <div class="modal fade" id="myModal" role="dialog">
   <div class="modal-dialog">
   
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">New Group</h4>
       </div>
       <div class="modal-body">
         <form class="text-center" method="POST" action="/newGroupChat">
         	<input type="text" class="form-control" name="groupName" placeholder="group name"/>
         	<button type="submit" class="btn btn-success">Create</button>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
     
   </div>
 </div>	

<div class="main">
	<div class="mesgs">
	  <div th:if="${chat != null}" class="msg_history" id="msg-history">
		<th:block th:each="message : ${messages}">
			<div th:if="${message.value.senderId != session.user.id}" class='incoming_msg'> 
		      <div class='received_msg'>
		        <div class='received_withd_msg'>
		          <span style="font-size: 10pt; font-wheigt: bold;" th:text="${message.key}">name</span>
 		          <p th:text="${message.value.message}">message</p>
		          <span class='time_date' th:text="${#dates.format(message.value.time, 'HH:mm')}">time</span>
	          	</div>
		      </div>
	         </div>
	         
  	    	<div  th:if="${message.value.senderId} == ${session.user.id}" class="outgoing_msg">
	      		<div class="sent_msg">
		        	<p th:text="${message.value.message}">message</p>
		        	<span class="time_date" th:text="${#dates.format(message.value.time, 'HH:mm')}">time</span>
	        	</div>
	    	</div>

		</th:block>
	  </div>
	  <div th:if="${chat == null}">
	  	<h5>No chat selected</h5>
	  </div>
  	</div>
 	<div th:if="${chat != null}" class="panel-footer">
	    <div class="input-group">
	    	<input type="hidden" name="chatId" th:value="${chat.chatId}"/>
	    	<input type="hidden" name="senderId" th:value="${session.user.id}"/>
	        <input id="btn-input" type="text" name="message" class="form-control input-sm chat_input" placeholder="Write your message here..." />
	        <span class="input-group-btn">
	        <button th:onclick="'sendMessage(\'' +${session.user.id} +'\',\''+${chat.chatId}+'\')'" class="btn btn-primary btn-sm" id="btn-chat"><i class="fa fa-send fa-1x" aria-hidden="true"></i></button>
	        </span>
	    </div> 
	</div>
  
</div>

<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;
for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}
var input = document.getElementById("btn-input");
if(input){
	input.addEventListener("keyup", function(event) {
		  // Cancel the default action, if needed
		  event.preventDefault();
		  // Number 13 is the "Enter" key on the keyboard
		  if (event.keyCode === 13) {
		    // Trigger the button element with a click
		    document.getElementById("btn-chat").click();
		  }
		});
}

</script>

</body>

</html> 