<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="css/register-login.css">
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
		 <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
		 <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		
		
		<title>Registration</title>
	</head>
	<body style="background-color:#efefef">
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Register Here</h1>
	               		<hr />
	               	</div>
	            </div> 
				<div class="main-login main-center">
					<form class="form-horizontal"  th:action="@{/signup}" th:object="${user}" method="POST">
					
							<div class="form-group" th:classappend="${#fields.hasErrors('fname')} ? has-error : ''">
                                  <label>First Name</label>                                                                
                                  <div class="cols-sm-10">
                          			  <div class="input-group">
                          			     <span class="input-group-addon"><i class="fa fa-user" ></i></span>
                                          <input type="text" class="form-control" maxlength="32" th:field="*{fname}" placeholder="Enter your First Name"/>  
                                      </div>
                                      <span th:if="${#fields.hasErrors('fname')}" class="help-block" th:errors="*{fname}"></span>
                                  </div>
                             </div>
						
						 <div class="form-group" th:classappend="${#fields.hasErrors('lname')} ? has-error : ''">
                            <label>Last Name</label>                                                                
                              <div class="cols-sm-10">
                              	<div class="input-group">
                              		<span class="input-group-addon"><i class="fa fa-user" ></i></span>
                                 	<input type="text" class="form-control" th:field="*{lname}" placeholder="Enter your last name"/>
                              	</div>
                              	<span th:if="${#fields.hasErrors('lname')}" class="help-block" th:errors="*{lname}"></span>
                              </div>
                        </div>   

						 <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error : ''">
                            <label>Email Address</label>                                                                
                             <div class="cols-sm-10">
                              <div class="input-group">
                              		 <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                     <input type="text" class="form-control" maxlength="64" th:field="*{email}" placeholder="For example: joe@xyz.com"/>
                                </div>
                                <span th:if="${#fields.hasErrors('email')}" class="help-block" th:errors="*{email}"></span>
                              </div>
                         </div>

						<div class="form-group" th:classappend="${#fields.hasErrors('username')} ? has-error : ''">
							<label for="username" class="cols-sm-2 ">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa"></i></span>
									<input type="text" class="form-control" th:field="*{username}" name="username" id="username"  placeholder="Enter your Username"/>
								</div>
							<span th:if="${#fields.hasErrors('username')}" class="help-block" th:errors="*{username}"></span>
							</div>
						</div>

						<div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error':''">
							<label for="password" class="cols-sm-2">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span>
									<input type="password" class="form-control" th:field="*{password}" name="password" id="password"  placeholder="Enter your Password"/>
								</div>
								<span th:if="${#fields.hasErrors('password')}" class="help-block" th:errors="*{password}"></span>
							</div>
						</div>
						
					

						
						<div class="form-group">
							<label for="phone" class="cols-sm-2 control-label">Phone Number</label>
							<div class="cols-sm-10" th:classappend="${#fields.hasErrors('phone')} ? 'has-error':''">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-phone" ></i></span>
									<input type="text"  th:field="*{phone}" class="form-control"  name="phone" id="phone"  placeholder="Enter your phone number"/>
								</div>
								<span th:if="${#fields.hasErrors('phone')}" class="help-block" th:errors="*{phone}"></span>
							</div>
						</div>
						
						
						<div class="form-group" th:classappend="${#fields.hasErrors('gender')} ? has-error : ''">
     					   <label for="sel1"> Gender:</label>
     					   	<div class="cols-sm-10">
     					     	<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-venus-mars" ></i></span>
      						 		 <select class="form-control" th:field="*{gender}">
      						 		   	<option value="" class="ita" th:text="---Select +' '+a+' '+gender---"/>
      						 			<option value="Male" th:text="Male"/>
        						        <option value="Female" th:text="Female"/>
        					          </select>
        					      </div>
        					      <span th:if="${#fields.hasErrors('gender')}" class="help-block" th:errors="*{gender}"></span>
        					      </div>
        				</div>

						<div class="form-actions">
							<input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Register"/>
						</div>
						<div class="login">
				            <a href="login">Login</a>
				         </div>
					</form>
				</div>
			</div>
		</div>

		
	</body>
</html>